body{
    
}

.row{
	text-align: right;
}

.form-group{
    width:65%;
    font-family:'Open Sans', verdana, sans-serif;
    color:white;
}

.media-body{

}

nav{
    margin-left: 50%;
}

form{
    margin-top:5%;
}

.form-check-label{
    padding-left: 7%;
}

#agreement{
    margin-left: 1%;
    width: 2%;
    height: 2%;
}



.overlay{
	position: relative;
	overflow: hidden;
	width: auto;
	height: auto;
	transition: .5s ease;
	z-index: 2;
	opacity: 0.5;
	float: right;
}

.overlay:hover{
	background-color: #7F3333;
	opacity: 1;
}

p{ /*selector*/
    font-family:'Open Sans', verdana, sans-serif; /*font stack means multiple fonts because not every browser supports every font*/
    font-size:16px;
    line-height:1.5;
    margin-left:15px;
	margin-top:5%;
	margin-left:2%;
	text-align:justify;
}

h1{
	font-family:'Open Sans', verdana, sans-serif;
	font-weight:500;
	font-size: 50px;
}

h2, h3, h4, h5, h6 {
	font-family:'Open Sans', verdana, sans-serif;
	font-weight:500;
	font-size:26px;
 }
 
li{
    display:inline;
    padding-right:25px;
}

a:link{
	text-decoration: none;
	font-size:20px;
	color:white;
	opacity: 1;
}

a:hover{
	color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

.btnLink{
	border-bottom: 2px solid black;
}

footer{
    margin-left: 0;
    margin-right:0 ;
}

video {
  position: fixed;
  max-width: 50%;
  max-height: 50%;

}

	